{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'style4.css' %}">
<div class="body"></div>
<section class="contact-section">
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31692.78618605223!2d3.3488894!3d6.5243793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf4c7ad27d7d1%3A0x4b0db8b27f8f6e!2sLagos!5e0!3m2!1sen!2sng!4v1690915000000!5m2!1sen!2sng"
    width="450"
    height="450"
    style="border:2;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
  
  <section class="contact">
    <div class="container1">
      <h2>
        Contact <span>Me</span>
      </h2>
      <p>
        Got a question? Send me a message and I'll get back to you soon.
      </p>
  
      <form action="{% url 'contact' %}" method="POST" class="space-y-6">
        {% csrf_token %}
        <!-- Name -->
        <div>
          <label>Your Name</label>
          <input type="text" name="name" required placeholder="enter your name here"
            >
        </div>
  
        <!-- Email -->
        <div>
          <label>Your Email</label>
          <input type="email" name="email" required placeholder="your@emai.com"
            >
        </div>
  
        <!-- Message -->
        <div>
          <label >Message</label>
          <textarea name="message" rows="5" required
            ></textarea>
        </div>
  
        <!-- Submit -->
        <button class="form-btn" type="submit"
          >
          Send Message
        </button>
      </form>
    </div>
  </section>
  
</section>
{% endblock %}